# Copyright (c) 2022, 2022, Hopsworks AB and/or its affiliates.
<antonios@hopsworks.ai> <antonios@logicalclocks.com>
<axel@hopsworks.ai> <axel@logicalclocks.com>
<mikael@hopsworks.ai> <mikael@logicalclocks.com>
<salman@hopsworks.ai> <salman@logicalclocks.com>
