!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

# 2 data nodes for multi-node aggregation testing
[cluster_config.1]
ndbd=,
ndb_mgmd=
mysqld=,
ndbapi=,,,,,,,,,,,
DefaultOperationRedoProblemAction=queue
NoOfReplicas=2
DataMemory=200M
SchemaMemory=80M

[cluster_config.mysqld.1.1]
NodeId=449

[cluster_config.mysqld.2.1]
NodeId=416

[cluster_config.ndbapi.1.1]
NodeId=432

[cluster_config.ndbapi.2.1]
NodeId=448

[cluster_config.ndbapi.3.1]
NodeId=463

[cluster_config.ndbapi.4.1]
NodeId=1274

[cluster_config.ndbapi.5.1]
NodeId=1924

[cluster_config.ndbapi.6.1]
NodeId=1228

[cluster_config.ndbapi.12.1]
NodeId=2039

[mysqld]
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
ndb-cluster-connection-pool=3
ndb-extra-logging=99
log-error-verbosity=3
ndb-join-pushdown=1
local-infile=true

[mysqld.1.1]
ndb-cluster-connection-pool-nodeids=449,463,1274
skip-log-bin
skip-log-replica-updates

[mysqld.2.1]
ndb-cluster-connection-pool-nodeids=416,432,448
skip-log-bin
skip-log-replica-updates

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MASTER_MYSOCK=                 @mysqld.1.1.socket
MASTER_MYPORT=                 @mysqld.1.1.port
MASTER_MYPORT1=                @mysqld.2.1.port

NDB_BACKUP_DIR=                @cluster_config.ndbd.1.1.BackupDataDir
