!include suite/ndb/my.cnf

[cluster_config]
# Bigger (imaginary) Redo space
Diskless=1
ThreadConfig=ldm={count=1},main={count=0},rep={count=0},tc={count=0},query={count=0},recv={count=1}
NoOfFragmentLogFiles = 64
FragmentLogFileSize = 48M
MinFreePct = 0

# Artificially small SendBufferMemory (to hit error)
SendBufferMemory = 512k
# Larger LongMessageBuffer (to avoid hitting this)
LongMessageBuffer = 16M

[mysqld]
# Allow dealing with bigger blobs
max-allowed-packet=104857600
