# Example configuration file for cpubinding of the ndbcrunch suite
# It can be appended to configuraton like this:
# $> mtr --defaults-extra-file=suite/ndbcrunch/cpubind.cnf
#
[cluster_config.ndbd.1.crunch]
cpubind=0-5,32-37

[cluster_config.ndbd.2.crunch]
cpubind=8-13,40-45

[mysqld.1.crunch]
cpubind=16-22,48-54

[mysqld.2.crunch]
cpubind=24-30,56-62

# Sections below can be activated when running with more than two mysqlds
#[mysqld.3.crunch]
#cpubind=16-63,144-191

#[mysqld.4.crunch]
#cpubind=80-127,208-255

#[mysqld.5.crunch]
#cpubind=16-63,144-191

#[mysqld.6.crunch]
#cpubind=80-127,208-255

#[mysqld.7.crunch]
#cpubind=16-63,144-191

#[mysqld.8.crunch]
#cpubind=80-127,208-255

#[mysqld.9.crunch]
#cpubind=16-63,144-191

[mysqltest]
cpubind=6,7,14,15,23,31,38,39,46,47,55,63
