!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

[cluster_config.1]
ndbd=,
ndb_mgmd=
mysqld=,
# We need ((3 - 1) slots * 2 mysqld) + (2 slots * 2 rdrs2s) + (1 slot for ronsql_cli) = 9 ndbapi slots
ndbapi=,,,,,,,,
DefaultOperationRedoProblemAction=queue

[rdrs.1.1]

[rdrs.2.1]

# NdbAPI nodes intended for use by MySQL server(s).
# Node id must explicitly be requested either by --ndb-nodeid or
# --ndb-cluster-connection-pool-nodeids.

[cluster_config.mysqld.1.1]
NodeId=51
Dedicated=1

[cluster_config.ndbapi.1.1]
NodeId=52
Dedicated=1

[cluster_config.ndbapi.2.1]
NodeId=53
Dedicated=1

[cluster_config.mysqld.2.1]
NodeId=54
Dedicated=1

[cluster_config.ndbapi.3.1]
NodeId=55
Dedicated=1

[cluster_config.ndbapi.4.1]
NodeId=56
Dedicated=1

# NdbAPI nodes intended for use by RDRS servers, each of which needs two
# connections; one for data and one for metadata.

[cluster_config.ndbapi.5.1]
NodeId=61

[cluster_config.ndbapi.6.1]
NodeId=62

[cluster_config.ndbapi.7.1]
NodeId=63

[cluster_config.ndbapi.8.1]
NodeId=64

# NdbAPI node intended for use by ronsql_cli.

[cluster_config.ndbapi.9.1]
NodeId=65

[mysqld]
# Make all mysqlds use cluster
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
ndb-cluster-connection-pool=3
ndb-extra-logging=99
# Enable load data local functionality
local-infile=true
# This suite (--suite=ronsql) is designed to be run without binlogging,
# turn off binlogging (and thus also slave updates) for mysqlds
skip-log-bin
skip-log-replica-updates

[mysqld.1.1]
# Specify which nodeids the connection pool on first mysqld should use
ndb-cluster-connection-pool-nodeids=51,52,53

[mysqld.2.1]
# Specify which nodeids the connection pool on second mysqld should use
ndb-cluster-connection-pool-nodeids=54,55,56

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MASTER_MYSOCK=                 @mysqld.1.1.socket
MASTER_MYPORT=                 @mysqld.1.1.port

NDB_BACKUP_DIR=                @cluster_config.ndbd.1.1.BackupDataDir

