# Copyright (c) 2015, 2023, Oracle and/or its affiliates.
# Copyright (c) 2022, 2023, Hopsworks and/or its affiliates.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License, version 2.0,
# as published by the Free Software Foundation.
#
# This program is also distributed with certain software (including
# but not limited to OpenSSL) that is licensed under separate terms,
# as designated in a particular file or component or in included license
# documentation.  The authors of MySQL hereby grant you an additional
# permission to link the program and your derivative works with the
# separately licensed software that they have included with MySQL.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License, version 2.0, for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301  USA

[atrt]
basedir = CHOOSE_dir
clusters = CHOOSE_clusters
baseport = CHOOSE_baseport
fix-nodeid = 1
mt = 2

[ndb_mgmd]

[client]
protocol=tcp

#
# .2node - two ndbmtd nodes with 3 CPUs
#

[cluster_config.2node_3cpus]
ndb_mgmd = CHOOSE_host1
ndbd = CHOOSE_host2,CHOOSE_host3
ndbapi= CHOOSE_host1,CHOOSE_host1,CHOOSE_host1

NoOfReplicas = 2
DataMemory = 500M
TransactionMemory=350M
MaxNoOfConcurrentScans = 100
MaxNoOfSavedMessages= 5
NoOfFragmentLogFiles = 8
FragmentLogFileSize = 64M
CompressedLCP=1
CompressedBackup=1
ODirect=1
MaxNoOfAttributes=2000
Checksum=1
AutomaticThreadConfig=1
AutomaticMemoryConfig=1
NumCPUs=3
TotalMemoryConfig=5500M
MaxNoOfTables=200
MaxNoOfOrderedIndexes=200
MaxNoOfUniqueHashIndexes=200
MaxNoOfTriggers=3000
TransactionDeadlockDetectionTimeout=5000

SharedGlobalMemory=350M
DiskPageBufferMemory=256M
InitialLogfileGroup=undo_buffer_size=64M;undofile01.dat:512M;undofile02.dat:512M
InitialTablespace=datafile01.dat:256M;datafile02.dat:256M
TimeBetweenWatchDogCheckInitial=60000

#
# .3node_6cpus - three ndbmtd nodes with 6 CPUs
#

[cluster_config.3node_6cpus]
ndb_mgmd = CHOOSE_host1
ndbd = CHOOSE_host2,CHOOSE_host3,CHOOSE_host4
ndbapi= CHOOSE_host1,CHOOSE_host1,CHOOSE_host1

NoOfReplicas = 3
DataMemory = 500M
TransactionMemory=350M
MaxNoOfConcurrentScans = 100
MaxNoOfSavedMessages= 5
NoOfFragmentLogFiles = 8
FragmentLogFileSize = 64M
CompressedLCP=1
CompressedBackup=1
ODirect=1
MaxNoOfAttributes=2000
Checksum=1
AutomaticThreadConfig=1
AutomaticMemoryConfig=1
NumCPUs=6
TotalMemoryConfig=5500M
MaxNoOfTables=200
MaxNoOfOrderedIndexes=200
MaxNoOfUniqueHashIndexes=200
MaxNoOfTriggers=3000
TransactionDeadlockDetectionTimeout=5000

SharedGlobalMemory=350M
DiskPageBufferMemory=256M
InitialLogfileGroup=undo_buffer_size=64M;undofile01.dat:512M;undofile02.dat:512M
InitialTablespace=datafile01.dat:256M;datafile02.dat:256M
TimeBetweenWatchDogCheckInitial=60000

#
# .3node_18cpus - three ndbmtd nodes with 6 CPUs
# No compression of LCP and Backup
#

[cluster_config.3node_18cpus]
ndb_mgmd = CHOOSE_host1
ndbd = CHOOSE_host2,CHOOSE_host3,CHOOSE_host4
ndbapi= CHOOSE_host1,CHOOSE_host1,CHOOSE_host1

NoOfReplicas = 3
DataMemory = 500M
TransactionMemory=350M
MaxNoOfConcurrentScans = 100
MaxNoOfSavedMessages= 5
NoOfFragmentLogFiles = 8
FragmentLogFileSize = 64M
ODirect=1
MaxNoOfAttributes=2000
Checksum=1
AutomaticThreadConfig=1
AutomaticMemoryConfig=1
NumCPUs=18
TotalMemoryConfig=5500M
MaxNoOfTables=200
MaxNoOfOrderedIndexes=200
MaxNoOfUniqueHashIndexes=200
MaxNoOfTriggers=3000
TransactionDeadlockDetectionTimeout=5000

SharedGlobalMemory=350M
DiskPageBufferMemory=256M
InitialLogfileGroup=undo_buffer_size=64M;undofile01.dat:512M;undofile02.dat:512M
InitialTablespace=datafile01.dat:256M;datafile02.dat:256M
TimeBetweenWatchDogCheckInitial=60000

#
# .4node_4cpus - four ndbmtd nodes with 4 CPUs
#

[cluster_config.4node_4cpus]
ndb_mgmd = CHOOSE_host1
ndbd = CHOOSE_host2,CHOOSE_host3,CHOOSE_host4,CHOOSE_host5
ndbapi= CHOOSE_host1,CHOOSE_host1,CHOOSE_host1

NoOfReplicas = 4
DataMemory = 400M
TransactionMemory=250M
MaxNoOfConcurrentScans = 100
MaxNoOfSavedMessages= 5
NoOfFragmentLogFiles = 8
FragmentLogFileSize = 64M
ODirect=1
MaxNoOfAttributes=2000
Checksum=1
AutomaticThreadConfig=1
AutomaticMemoryConfig=1
NumCPUs=4
TotalMemoryConfig=5500M
MaxNoOfTables=200
MaxNoOfOrderedIndexes=200
MaxNoOfUniqueHashIndexes=200
MaxNoOfTriggers=3000
TransactionDeadlockDetectionTimeout=5000

SharedGlobalMemory=250M
DiskPageBufferMemory=256M
InitialLogfileGroup=undo_buffer_size=64M;undofile01.dat:512M;undofile02.dat:512M
InitialTablespace=datafile01.dat:256M;datafile02.dat:256M
TimeBetweenWatchDogCheckInitial=60000

#
# .4node_2ng_8cpus
#

[cluster_config.4node_2ng_8cpus]
ndb_mgmd = CHOOSE_host1
ndbd = CHOOSE_host2,CHOOSE_host3,CHOOSE_host4,CHOOSE_host5
ndbapi= CHOOSE_host1,CHOOSE_host1,CHOOSE_host1

NoOfReplicas = 2
DataMemory = 500M
TransactionMemory=350M
MaxNoOfConcurrentScans = 100
MaxNoOfSavedMessages= 5
NoOfFragmentLogFiles = 8
FragmentLogFileSize = 64M
ODirect=1
MaxNoOfAttributes=2000
Checksum=1
AutomaticThreadConfig=1
AutomaticMemoryConfig=1
NumCPUs=8
TotalMemoryConfig=5500M
MaxNoOfTables=200
MaxNoOfOrderedIndexes=200
MaxNoOfUniqueHashIndexes=200
MaxNoOfTriggers=3000
TransactionDeadlockDetectionTimeout=5000

SharedGlobalMemory=350M
DiskPageBufferMemory=256M
InitialLogfileGroup=undo_buffer_size=64M;undofile01.dat:512M;undofile02.dat:512M
InitialTablespace=datafile01.dat:256M;datafile02.dat:256M
TimeBetweenWatchDogCheckInitial=60000

#
# .6node_2ng_12cpus
#

[cluster_config.6node_2ng_12cpus]
ndb_mgmd = CHOOSE_host1
ndbd = CHOOSE_host2,CHOOSE_host3,CHOOSE_host4,CHOOSE_host5,CHOOSE_host6,CHOOSE_host1
ndbapi= CHOOSE_host1,CHOOSE_host1,CHOOSE_host1

NoOfReplicas = 3
DataMemory = 500M
TransactionMemory=350M
MaxNoOfConcurrentScans = 100
MaxNoOfSavedMessages= 5
NoOfFragmentLogFiles = 8
FragmentLogFileSize = 64M
ODirect=1
MaxNoOfAttributes=2000
Checksum=1
AutomaticThreadConfig=1
AutomaticMemoryConfig=1
NumCPUs=12
TotalMemoryConfig=5500M
MaxNoOfTables=200
MaxNoOfOrderedIndexes=200
MaxNoOfUniqueHashIndexes=200
MaxNoOfTriggers=3000
TransactionDeadlockDetectionTimeout=5000

SharedGlobalMemory=350M
DiskPageBufferMemory=256M
InitialLogfileGroup=undo_buffer_size=64M;undofile01.dat:512M;undofile02.dat:512M
InitialTablespace=datafile01.dat:256M;datafile02.dat:256M
TimeBetweenWatchDogCheckInitial=60000

#
# .8node_2ng_5cpus
#

[cluster_config.8node_2ng_2cpus]
ndb_mgmd = CHOOSE_host1
ndbd = CHOOSE_host2,CHOOSE_host3,CHOOSE_host4,CHOOSE_host5,CHOOSE_host6,CHOOSE_host1,CHOOSE_host7,CHOOSE_host8
ndbapi= CHOOSE_host1,CHOOSE_host1,CHOOSE_host1

NoOfReplicas = 3
DataMemory = 500M
TransactionMemory=350M
MaxNoOfConcurrentScans = 100
MaxNoOfSavedMessages= 5
NoOfFragmentLogFiles = 8
FragmentLogFileSize = 64M
ODirect=1
MaxNoOfAttributes=2000
Checksum=1
AutomaticThreadConfig=1
AutomaticMemoryConfig=1
NumCPUs=2
TotalMemoryConfig=5500M
MaxNoOfTables=200
MaxNoOfOrderedIndexes=200
MaxNoOfUniqueHashIndexes=200
MaxNoOfTriggers=3000
TransactionDeadlockDetectionTimeout=5000

SharedGlobalMemory=350M
DiskPageBufferMemory=256M
InitialLogfileGroup=undo_buffer_size=64M;undofile01.dat:512M;undofile02.dat:512M
InitialTablespace=datafile01.dat:256M;datafile02.dat:256M
TimeBetweenWatchDogCheckInitial=60000

#
# .2node2mgm
#

[cluster_config.2node2mgm]
ndb_mgmd = CHOOSE_host1,CHOOSE_host6
ndbd = CHOOSE_host2,CHOOSE_host3
ndbapi= CHOOSE_host1,,

NoOfReplicas = 2
DataMemory = 500M
TransactionMemory=350M
MaxNoOfConcurrentScans = 100
MaxNoOfSavedMessages= 5
NoOfFragmentLogFiles = 8
FragmentLogFileSize = 64M
ODirect=1
MaxNoOfAttributes=2000
Checksum=1
AutomaticThreadConfig=1
AutomaticMemoryConfig=1
NumCPUs=12
TotalMemoryConfig=5500M
MaxNoOfTables=200
MaxNoOfOrderedIndexes=200
MaxNoOfUniqueHashIndexes=200
MaxNoOfTriggers=3000
TransactionDeadlockDetectionTimeout=5000

SharedGlobalMemory=350M
DiskPageBufferMemory=256M
InitialLogfileGroup=undo_buffer_size=64M;undofile01.dat:512M;undofile02.dat:512M
InitialTablespace=datafile01.dat:256M;datafile02.dat:256M
TimeBetweenWatchDogCheckInitial=60000
